<!DOCTYPE html>
<html>
<head>
	<title>Biz haqimizda - Tashkilot nomi</title>
	<link rel="stylesheet" href="/styles/about.css">
	<link rel="stylesheet" href="/styles/main.css">
</head>
<body>
	<nav>
		<div class="navbar-container">
		  <a class="logo" href="#">GetHome</a>
		  <ul class="navbar-menu">
			<li class="menu-item"><a href="/template/index.html">Bosh sahifa</a></li>
			<li class="menu-item"><a href="#"><A>Amaliyotlar </A></a></li>
			<li class="menu-item"><a href="#">Xizmatlar</a></li>
			<li class="menu-item"><a href="#">Biz haqimizda</a></li>
			<li class="menu-item"><a href="/template/contact.html">Bog'lanish</a></li>
			<li class="menu-item buy-now"><a href="#">Xarid qilish</a></li>
		  </ul>
		  <div class="navbar-toggle">
			<span></span>
			<span></span>
			<span></span>
		  </div>
		</div>
	  </nav>
	<header>
		<h1>Biz haqimizda</h1>
	</header>
	<main>
		<section id="tashkilot-haqida">
			<h2>Tashkilot haqida</h2>
			<p>Bu tashkilot yangi qulaylikalar yaratish uchun 2023 yilda o'z ishini boshladi va talabalarga , kam taminlangan odamlarga uy va kvartira  topib berish ularni uyigacha oborib qo'yish uchun tashkil etildi</p>
		</section>
		<section id="jamoa-azolari">
			<h2>Jamoa a'zolari</h2>
			<p>Bu tashkilotda asosan 12 kishi ish yuritadi ularning 4 tasi davlat ishchilari hisoblanib davlat tomonidan talabalarga qulaylik yaratib berish uchun hizmat qiladi</p>
		</section>
		<section id="xizmatlar-mahsulotlar">
			<h2>Xizmatlar va mahsulotlar</h2>
			<p>Biz sizga uy va kvartira topishingizda ko'maklashamiz sizni uyingizgacha kuzatib qo'yamiz sizdan asosiy talab sifatida bizga bog'lanish bo'limidagi formani to'dirib bersangiz yetadi qolgani bizning ishimiz bo'ladi</p>
		</section>
		<section id="hamkorlar-mijozlar">
			<h2>Hamkorlar va mijozlar</h2>
			<p>Bizning tashkilot 2023-yil aprel oyida ishga tushganiga qarame anchagaina e'tiborga sazovor bo'ldi va 70-dan oshiq talabalar va 30 dan oshiq kam taminlangan oilalar bizning tashkilot orqali o'zlariga ijara asosida kvartiraga ega bo'lishti . </p>
		</section>
		<section id="bizning-xizmatlarimiz">
			<h2>Bizning xizmatlarimiz</h2>
			<p>Bizning tashkilot orqali siz o'zingiz , oilangiz,  do'stlariungiz uchun uy yoki kvartira topishingiz mumkin bo'ladi . Biz sizlarga eng hamyonbop va eng qulay bo'lgan uylarni topishda yordam beramiz</p>
		</section>
		<section id="aloqa">
			<h2>Malumot</h2>
			<p>Tashkilot haqida  malumot olish  uchun <b><i> +998 93 654 08 29</i></b> raqamiga telefon qilishingiz mumkin </p>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 - GETHOME. Barcha huquqlar himoyalangan.</p>
	</footer>
	<script src="app.js"></script>
</body>
</html>
