<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get a home </title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
  <nav>
    <div class="navbar-container">
      <a class="logo" href="#">GetHome</a>
      <ul class="navbar-menu">
        <li class="menu-item"><a href="#">Bosh sahifa</a></li>
        <li class="menu-item"><a href="#"><A>Amaliyotlar </A></a></li>
        <li class="menu-item"><a href="#">Xizmatlar</a></li>
        <li class="menu-item"><a href="/template/about.html">Biz haqimizda</a></li>
        <li class="menu-item"><a href="/template/contact.html">Bog'lanish</a></li>
        <li class="menu-item buy-now"><a href="#">Xarid qilish</a></li>
      </ul>
      <div class="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>

  <section class="middle">
    <div class="container">
      <div class="middle-content">
        <h2>Uy ijaraga olish</h2>
        <p>Agarda sizning uy sotib olish yoki uy kvartira ijaraga olish bilan qiyinchilik bo'layotgan bo'lsa , biz sizga yordam beramiz! Biz siz uchun eng yaxshi
          va har tomonlama qulay bo'lgan uylarni  tayyorlaymiz, buyurtma qilishni oson va qulay qilamiz.</p>
        <a href="/template/contact.html"><button class="btn">Biz bilan bog'laning</button></a>
      </div>
    </div>
  </section>

  <section class="products">
    <div class="container">
      <h2 class="section-title">Mahsulotlar</h2>
      <div class="product-list">
        <div class="product-item">
          <img src="https://www.gannett-cdn.com/media/2018/09/20/USATODAY/usatsports/sold-home-for-sale-real-estate.jpg?crop=1365,768,x0,y0&width=1365&height=682&format=pjpg&auto=webp" alt="Mahsulot 1">
          <h3 class="product-title">Birinchi UY</h3>
          <p class="product-description">Bizning uylar sizga qulay bo'lishi uchun metroga 5 miutlik masofada joylashgan</p>
          <p class="product-price">$300</p>
          <button class="btn">Ijaraga olish</button>
        </div>
        <div class="product-item">
          <img src="https://www.gannett-cdn.com/media/2018/09/20/USATODAY/usatsports/sold-home-for-sale-real-estate.jpg?crop=1365,768,x0,y0&width=1365&height=682&format=pjpg&auto=webp" alt="Mahsulot 2">
          <h3 class="product-title">Ikkinchi UY</h3>
          <p class="product-description">Bizning uylar sizga qulay bo'lishi uchun metroga 5 miutlik masofada joylashgan</p>
          <p class="product-price">$200</p>
          <button class="btn">Sotib olish</button>
        </div>
        <div class="product-item">
          <img src="https://www.gannett-cdn.com/media/2018/09/20/USATODAY/usatsports/sold-home-for-sale-real-estate.jpg?crop=1365,768,x0,y0&width=1365&height=682&format=pjpg&auto=webp" alt="Mahsulot 3">
          <h3 class="product-title">Uchinchi UY</h3>
          <p class="product-description">Bizning uylar sizga qulay bo'lishi uchun metroga 5 miutlik masofada joylashgan</p>
          <p class="product-price">$300</p>
          <button class="btn">Sotib olish</button>
        </div>
      </div>
    </div>
  </section>
  

  <script src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/ca3b937660.js" crossorigin="anonymous"></script>
</body>

</html>